<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS" value="./logs/"/>

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <appender name="SPRING-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}application.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/application/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %m%n</pattern>
        </encoder>
    </appender>
    <appender name="USERS-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${LOGS}users.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/users/users.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %m%n</pattern>
        </encoder>
    </appender>

    <appender name="TICKETS-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${LOGS}tickets.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/tickets/tickets.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %m%n</pattern>
        </encoder>
    </appender>

    <appender name="MOVIES-LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <append>true</append>
        <file>${LOGS}movies.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/movies/movies.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxFileSize>10MB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %m%n</pattern>
        </encoder>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="SPRING-LOG"/>
    </root>

    <!-- LOG users actions at INFO level -->
    <logger name="ua.com.andromeda.cinemaspringbootapp.controller.UserController" level="INFO" additivity="true">
        <appender-ref ref="USERS-LOG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- LOG tickets purchases at INFO level -->
    <logger name="ua.com.andromeda.cinemaspringbootapp.controller.TicketController" level="INFO" additivity="true">
        <appender-ref ref="TICKETS-LOG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- LOG movies actions at INFO level -->
    <logger name="ua.com.andromeda.cinemaspringbootapp.controller.MovieController" level="INFO" additivity="true">
        <appender-ref ref="MOVIES-LOG"/>
        <appender-ref ref="STDOUT"/>
    </logger>

</configuration>