<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head-section">
    <title id="pageTitle" th:text="${movies[0].name}">Name</title>
</head>
<body>
<div th:insert="fragments :: header"></div>

<video class="video-size" controls
       src="" th:poster="${movieDetails.media.poster}" th:src="${movieDetails.media.trailer}">
</video>

<div class="container">
    <div class="row">
        <div th:each="movie : ${movies}">
            <div class="col-4">
                <a class="bg-1 btn btn-primary" th:href="@{/movies/hall/{id}(id = ${movie.id})}">
                    <h3 th:text="${#calendars.format(T(java.sql.Timestamp).valueOf(movie.startTime), 'dd MMMM hh:mm')}">
                        Time of session
                    </h3>
                </a>
            </div>
        </div>
    </div>
</div>

<div about="info">
    <h3>Description: <span th:text="${movieDetails.description}">Description</span></h3>
    <h3>Duration: <span th:text="${movieDetails.duration}">Duration</span></h3>
    <h3>Genres:
        <span th:each="genre : ${movieDetails.genres}">
            <span th:text="${genre.name + ', '}"></span>
        </span>
    </h3>
    <h3>Year of production: <span th:text="${movieDetails.productionYear}">Year</span></h3>
    <h3>Country: <span th:text="${movieDetails.country.name}">Country</span></h3>

    <h3>Director: <span th:text="${movieDetails.director}">Director</span></h3>
    <h3>Actors:
        <span th:each="actor : ${movieDetails.actors}">
            <span th:text="${actor.fullName + ', '}"></span>
        </span>
    </h3>
</div>

<div th:insert="fragments :: script-dependency"></div>
</body>
</html>