<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head-section">
    <title id="pageTitle" th:text="${movies[0].name}">Name</title>
</head>
<body id="description">
<div th:insert="fragments :: header"></div>

<section class="video-wrap">
    <iframe class="video-size" th:src="${movieDetails.media.trailer}" allowfullscreen></iframe>
</section>

<section class="container column-2">
    <div class="row start-time">
        <div th:each="movie : ${movies}">
            <th:block th:if="${movie.enabled || #authentication.getAuthorities().size() > 1}">
                <a class="bg-1 btn btn-primary" th:href="@{/movies/hall/{id}(id = ${movie.id})}">
                    <h3 th:text="${#temporals.format(movie.startTime, 'dd MMMM HH:mm')}">Time of session</h3>
                </a>
            </th:block>
        </div>
    </div>
</section>

<section class="info">
    <p><b>Description: </b><span th:text="${movieDetails.description}">Description</span></p>
    <p><b>Duration:</b> <span th:text="${movieDetails.duration}">Duration</span></p>
    <p><b>Genres:</b>
        <span th:each="genre : ${movieDetails.genres}">
            <span th:text="${genre.name + ', '}"></span>
        </span>
    </p>
    <p><b>Year of production:</b> <span th:text="${movieDetails.productionYear}">Year</span></p>
    <p><b>Country:</b> <span th:text="${movieDetails.country.name}">Country</span></p>

    <p><b>Director:</b> <span th:text="${movieDetails.director}">Director</span></p>
    <p><b>Actors:</b>
        <span th:each="actor : ${movieDetails.actors}">
            <span th:text="${actor.fullName + ', '}"></span>
        </span>
    </p>
</section>

<div th:insert="fragments :: script-dependency"></div>
</body>
</html>