<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head-section">
    <title id="pageTitle">Update session</title>
</head>
<body>
<div th:insert="fragments :: header"></div>

<form th:action="@{/movie-details/update}" th:method="PUT">
    <div class="container" th:object="${movieDetails}">
        <input type="hidden" th:value="*{id}" th:field="*{id}">
        <fieldset>
            <legend>Movie information</legend>
            <div class="row">
                <div class="col-4">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" id="description" required th:field="*{description}"></textarea>
                </div>
                <div class="col-4">
                    <label class="form-label" for="year">Production year</label>
                    <input class="form-control"
                           id="year" required
                           max="2023" min="1850"
                           th:field="*{productionYear}" type="number">
                    <div class="error" th:errors="*{productionYear}"
                         th:if="${#fields.hasErrors('productionYear')}"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label class="form-label" for="actors">Actors</label>
                    <textarea class="form-control" id="actors" th:text="${actors}" name="actors" required></textarea>
                </div>
                <div class="col-4">
                    <label class="form-label" for="director">Director</label>
                    <input class="form-control" id="director" required th:field="*{director}">
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <label class="form-label" for="duration">Duration</label>
                    <input class="form-control"
                           id="duration"
                           max="300"
                           min="1"
                           required th:field="*{duration}" type="number">
                    <div class="error" th:errors="*{duration}" th:if="${#fields.hasErrors('duration')}"></div>
                </div>
                <div class="col-4">
                    <label class="form-label" for="country">Country</label>
                    <input class="form-control" id="country" required th:field="*{country.name}">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <select class="form-select" multiple th:field="*{genres}">
                        <option th:each="genre : ${genres}" th:text="${genre.name}" th:value="${genre}">Genre</option>
                    </select>
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>Media</legend>

            <div class="row">
                <div class="col-4">
                    <label class="form-label" for="poster">Link of the poster</label>
                    <input class="form-control" id="poster" required th:field="*{media.poster}">
                </div>
                <div class="col-4">
                    <label class="form-label" for="trailer">Link of the trailer</label>
                    <input class="form-control" id="trailer" required th:field="*{media.trailer}">
                </div>
            </div>
        </fieldset>
        <div class="row">
            <div class="col-2">
                <input class="btn btn-success btn-lg" type="submit" value="Update">
            </div>
        </div>
    </div>
</form>

<div th:insert="fragments :: script-dependency"></div>
</body>
</html>