<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head-section">
    <title id="pageTitle">List</title>
</head>
<body>
<div th:insert="fragments :: header"></div>

<div th:if="${users.isEmpty}">
    <table>
        <thead>
        <tr>
            <th>Email</th>
            <th>Login</th>
            <th>Link</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div class="alert alert-info" role="alert">
                    No users were found
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:unless="${users.isEmpty}">
    <table class="table table-hover table-custom" id="users-list">
        <thead>
        <tr>
            <th>Email</th>
            <th>Login</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}" th:object="${user}">
            <td><span th:text="*{email}">Email</span></td>
            <td>
                <span th:text="*{login}">Login</span>
                <span th:each="number : ${#numbers.sequence(1, user.roles.size)}">
                    <i class="fa-regular fa-star"></i>
                </span>
            </td>
            <td>
                <a class="btn btn-outline-dark" th:href="@{/users/{login}(login = *{login})}">User profile</a>
            </td>
            <td>
                <a class="btn btn-outline-dark" th:href="@{/users/update/{id}(id = *{id})}">Update</a>
            </td>
            <td>
                <form th:action="@{/users/enabled}" th:if="*{enabled}" th:method="PATCH">
                    <input class="d-none" name="id" th:value="*{id}">
                    <input class="d-none" name="enabled" th:value="${false}">
                    <input class="btn btn-danger" type="submit" value="Block">
                </form>
                <form th:action="@{/users/enabled}" th:method="PATCH" th:unless="*{enabled}">
                    <input class="d-none" name="id" th:value="*{id}">
                    <input class="d-none" name="enabled" th:value="${true}">
                    <input class="btn btn-success" type="submit" value="Unlock">
                </form>
            </td>
            <td>
                <button class="btn btn-danger"
                        data-bs-target="#confirm"
                        data-bs-toggle="modal"
                        th:data-action="|@{/users/{id}(id = *{id})}|"
                        th:data-user-login="*{login}"
                        th:onclick="|callModalViewToDelete(this.getAttribute('data-action'),
                                                   this.getAttribute('data-user-login'))|"
                        type="button">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:insert="fragments :: modal-window"></div>

<div th:insert="fragments :: script-dependency"></div>
</body>
</html>