<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head-section">
    <title id="pageTitle">User form</title>
</head>
<body>
<div th:insert="fragments :: header"></div>


<form method="post" th:action="@{/users/new}" th:object="${user}">
    <div th:insert="fragments :: alert-error"></div>
    <div class="container">
        <div class="row col-4">
            <label class="form-label" for="email">Email:</label>
            <input class="form-control" id="email"
                   placeholder="name@example.com"
                   th:field="*{email}"
                   type="email">
        </div>
        <p class="error" style="color: red" th:errors="*{email}" th:if="${#fields.hasErrors('email')}">
            Error
        </p>

        <div class="row col-4">
            <label class="form-label" for="login">Login:</label>
            <input class="form-control" id="login" th:field="*{login}">
        </div>
        <p class="error" th:errors="*{login}" th:if="${#fields.hasErrors('login')}">
            Error
        </p>

        <div class="row col-4">
            <label class="form-label" for="password">Password:</label>
            <input class="form-control" id="password" th:field="*{password}" type="password">
        </div>

        <p class="error" th:errors="*{password}" th:if="${#fields.hasErrors('password')}">
            Error
        </p>

        <div sec:authorize="isAuthenticated()">
            <div sec:authorize="hasAnyRole('ROLE_OWNER', 'ROLE_SUPER_ADMIN')">
                <input class="form-check-input"
                       id="superAdmin"
                       name="role"
                       type="checkbox"
                       value="ROLE_SUPER_ADMIN">
                <label class="form-check-label" for="superAdmin">
                    Super admin
                </label>
                <br>
                <input checked
                       class="form-check-input"
                       id="admin"
                       name="role"
                       type="checkbox" value="ROLE_ADMIN">
                <label class="form-check-label" for="admin">
                    Admin
                </label>
            </div>
        </div>
        <input checked
               class="d-none"
               name="role"
               type="checkbox"
               value="ROLE_CUSTOMER">
        <button class="btn btn-success" type="submit">Submit</button>
    </div>
</form>

<div th:insert="fragments :: script-dependency"></div>
</body>
</html>