<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>User form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
</head>
<body>


<form method="post" th:action="@{/users/new}" th:object="${user}">
    <div class="container">
        <div class="row col-4">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control"
                   id="email"
                   placeholder="name@example.com"
                   th:field="*{email}">
        </div>
        <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red">
            Error
        </p>

        <div class="row col-4">
            <label for="login" class="form-label">Login:</label>
            <input class="form-control" id="login" th:field="*{login}">
        </div>
        <p class="error" th:if="${#fields.hasErrors('login')}" th:errors="*{login}" style="color: red">
            Error
        </p>

        <div class="row col-4">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password" th:field="*{password}">
        </div>

        <p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}" >
            Error
        </p>

        <div sec:authorize="isAuthenticated()">
            <div sec:authorize="hasAnyRole('ROLE_OWNER', 'ROLE_SUPER_ADMIN')">
                <input type="checkbox"
                       class="form-check-input"
                       value="ROLE_SUPER_ADMIN"
                       name="role"
                       id="superAdmin">
                <label class="form-check-label" for="superAdmin">
                    Super admin
                </label>
                <br>
                <input type="checkbox"
                       class="form-check-input"
                       value="ROLE_ADMIN"
                       name="role"
                       id="admin">
                <label class="form-check-label" for="admin">
                    Admin
                </label>
            </div>
        </div>
        <input type="checkbox"
               class="d-none"
               value="ROLE_CUSTOMER"
               name="role"
               checked>
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous">
</script>
</body>
</html>