<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head-section">
    <title id="pageTitle">Update</title>
</head>
<body>
<div th:insert="fragments :: header"></div>

<form th:action="@{/users/update}" th:method="PUT" th:object="${user}">
    <div th:insert="fragments :: alert-error"></div>
    <input class="d-none" th:field="*{enabled}" th:value="*{enabled}">
    <input class="d-none" th:field="*{id}" th:value="*{id}">
    <input class="d-none" th:field="*{roles}" th:value="*{roles}">

    <div class="container">
        <div class="row col-4">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" id="email" th:field="*{email}" type="email"/>
            <p class="error" th:if="${#fields.hasErrors('email')}" th:error="*{email}">Email error</p>
        </div>
        <div class="row col-4">
            <label class="form-label" for="login">Login</label>
            <input class="form-control" id="login" th:field="*{login}"/>
            <p class="error" th:if="${#fields.hasErrors('login')}" th:error="*{login}">Login error</p>
        </div>
        <div class="row col-4">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" id="password" th:field="*{password}" type="password"/>
            <p class="error" th:if="${#fields.hasErrors('password')}" th:error="*{password}">Password error</p>
        </div>
        <button class="btn btn-success" type="submit">Update</button>
    </div>
</form>

<div th:insert="fragments :: script-dependency"></div>
</body>
</html>