<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head-section">
    <title id="pageTitle">Update</title>
</head>
<body>
<div th:insert="fragments :: header"></div>


<form th:action="@{/users/update}" th:method="PUT" th:object="${user}">
    <div th:insert="fragments :: alert-error"></div>

    <input th:field="*{id}" type="hidden">
    <input th:field="*{roles}" type="hidden">
    <div class="container">
        <div class="row col-4">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" id="email" th:field="*{email}" type="email"/>
            <p class="error" th:error="*{email}" th:if="${#fields.hasErrors('email')}">Email error</p>
        </div>
        <div class="row col-4">
            <label class="form-label" for="login">Login</label>
            <input class="form-control" id="login" th:field="*{login}"/>
            <p class="error" th:error="*{login}" th:if="${#fields.hasErrors('login')}">Login error</p>
        </div>
        <div class="row col-4">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" id="password" th:field="*{password}" type="password"/>
            <p class="error" th:error="*{password}" th:if="${#fields.hasErrors('password')}">Password error</p>
        </div>
        <button class="btn btn-success" type="submit">Update</button>
    </div>
</form>

<div th:insert="fragments :: script-dependency"></div>
</body>
</html>