.table-custom tr:hover {
    background: #48001b;
}
.table-custom a, span, h4 {
    color: white;
}
.table-custom a:hover {
    color: aqua;
}

.btn-outline-dark, .table-custom{
    color: white;
}

.img-fixed-size-400 {
    min-height: 400px;
    max-height: 400px;
    min-width: 400px;
    max-width: 400px;
}

.img-fixed-size-200 {
    min-height: 200px;
    max-height: 200px;
    min-width: 200px;
    max-width: 200px;
}

.img-centered-fixed-size {
    margin-left: 500px;
    margin-top: 30px;
    min-height: 750px;
    max-height: 750px;
    min-width: 850px;
    max-width: 850px;
}

.align-center {
    height: 100px;
    line-height: 100px;
    text-align: center;
}

#schedule {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: black;
}

.column {
    float: left;
    width: 33.33%;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.error {
    color: red;
}

#ticketsZone {
    position: absolute;
    top: 400px;
    left: 750px;
    display: none;
}

.column-centered {
    text-align: center;
    vertical-align: middle;
}

.seat {
    width: 45px;
}

.btn-seat {
    width: 50px;
    background: black;
    border-style: none;
}

.container-img {
    position: relative;
    text-align: center;
    color: white;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.ticket-info {
    margin-top: 10px;
    background: #ffa184;
    border-radius: 25px;
    color: #481633;
    font-size: 20px;
    font-family: FontAwesome sans-serif;
    font-weight: bold;
}

#purchaseButton {
    margin-top: 15px;
    border-radius: 20px;
}

.img-hall {
    width: 90%;
}

.fa-user {
    margin-left: 20px;
}

#confirmationText, #exampleModalLabel {
    color: black;
}