<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head-section">
    <title id="pageTitle">Manage movies</title>
</head>
<body>
<div th:insert="fragments :: header"></div>

<table class="table table-hover table-custom">
    <tr th:each="movie : ${movies}" th:object="${movie}">
        <td class="column-centered">
            <img alt="poster" class="img-fixed-size-200" th:src="*{movieDetails.media.poster}"/>
        </td>
        <td class="column-centered">
            <h4 th:text="*{name}">Name</h4>
        </td>
        <td class="column-centered">
            <a class="btn btn-lg btn-dark" th:href="@{/movie-details/update/{id}(id = *{movieDetails.id})}">Update</a>
        </td>
        <td class="column-centered">
            <button class="btn btn-lg btn-danger"
                    data-bs-target="#confirm"
                    data-bs-toggle="modal"
                    th:data-action="|@{/movies/name/{name}(name = *{name})}|"
                    th:data-session-name="*{name}"
                    th:onclick="|callModalViewToDelete(this.getAttribute('data-action'),
                                                this.getAttribute('data-session-name'))|"
                    type="button">

                Delete
            </button>
        </td>
    </tr>
</table>

<div th:insert="fragments :: modal-window"></div>

<div th:insert="fragments :: script-dependency"></div>
</body>
</html>