<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="menu :: head-section">
    <title id="pageTitle">Hall</title>
</head>
<body>
<div th:insert="menu :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-2">
            <img th:src="${movie.movieDetails.media.poster}"
                 class="rounded"
                 th:alt="${movie.name}"
                 width="70%">

        </div>
        <div class="col-7">

            <div class="container" th:with="startTime=${movie.startTime}">
                <div class="row border">
                    <h4 th:text="${movie.name}">Name</h4>
                </div>
                <div class="row border">
                    <div class="col-4">
                        <i class="fa-regular fa-calendar"></i>
                        <span th:text="|${startTime.dayOfMonth} ${startTime.month.name}, ${startTime.dayOfWeek.name}|">Day</span>
                    </div>
                    <div class="col-3">
                        <div th:with="duration=${movie.movieDetails.duration}">
                            <div th:with="endTime=${startTime.plusMinutes(duration)}">
                                <i class="fa-sharp fa-solid fa-clock"></i>
                                <span th:text="|${#numbers.formatInteger(startTime.hour, 2)}:${#numbers.formatInteger(startTime.minute, 2)} -
                                     ${#numbers.formatInteger(endTime.hour, 2)}:${#numbers.formatInteger(endTime.minute, 2)}|">
                                    Duration</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="screen" align="center" style="width:24.584995rem;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 806 21" fill="dodgerblue">
                    <path d="M3.2,20l-2,0.2l-0.3-4l2-0.2C136.2,5.3,269.6,0,403,0s266.8,5.3,400.2,16l2,0.2l-0.3,4l-2-0.2 C669.5,9.3,536.3,4,403,4S136.4,9.3,3.2,20z"></path>
                </svg>
                <div class="name">ЕКРАН</div>
            </div>
        </div>
    </div>
</div>

<br><br>


<div class="container">
    <div class="row">
        <div class="col-6">
            <table>
                <tbody>
                <tr th:each="row : ${#numbers.sequence(1, 6)}">
                    <td th:each="seat : ${#numbers.sequence(1, 6)}">
                        <button class="btn-seat" data-status="active" th:onclick="|selectSeat(this, ${row}, ${seat})|">
                            <img class="seat" src="/seats/active-seat.png" alt="seat">
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div>
    <div class="container" id="ticketsZone">
<!--        <form th:method="POST"-->
<!--              th:action="@{/tickets/new}"-->
<!--              th:with="ticket=${T(ua.com.andromeda.cinemaspringbootapp.service.TicketService).createTicket()}">-->
<!--            <div th:object="${ticket}">-->
<!--                <input type="hidden" th:value="${movie}" th:field="*{session}">-->
<!--                <input class="form-control-plaintext" value="1" th:field="*{row}" readonly><div>1 row</div>-->
<!--                <input class="form-control-plaintext" value="2" th:field="*{seat}" readonly><div>2 seat</div>-->
<!--                <input class="form-control-plaintext" value="100" th:field="*{price}" readonly><div>100 UAH</div>-->
<!--                <input class="form-control-plaintext"-->
<!--                       th:value="${T(ua.com.andromeda.cinemaspringbootapp.model.TicketType).GOOD}"-->
<!--                       th:field="*{type}" readonly><div>GOOD</div>-->
<!--            </div>-->

<!--            <input type="submit" class="btn btn-primary" value="Purchase">-->
<!--        </form>-->
    </div>
</div>

<div th:insert="menu :: script-dependency"></div>
</body>
</html>