<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head-section">
    <title id="pageTitle">Hall</title>
</head>
<body>
<div th:insert="fragments :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-2">
            <img class="rounded"
                 th:alt="${movie.name}"
                 th:src="${movie.movieDetails.media.poster}"
                 width="70%">

        </div>
        <div class="col-7">

            <div class="container" th:with="startTime=${movie.startTime}">
                <div class="row border">
                    <h4 th:text="${movie.name}">Name</h4>
                </div>
                <div class="row border">
                    <div class="col-4">
                        <i class="fa-regular fa-calendar"></i>
                        <span th:text="|${startTime.dayOfMonth} ${startTime.month.name}, ${startTime.dayOfWeek.name}|">Day</span>
                    </div>
                    <div class="col-3">
                        <div th:with="duration=${movie.movieDetails.duration}">
                            <div th:with="endTime=${startTime.plusMinutes(duration)}">
                                <i class="fa-sharp fa-solid fa-clock"></i>
                                <span th:text="|${#numbers.formatInteger(startTime.hour, 2)}:${#numbers.formatInteger(startTime.minute, 2)} -
                                     ${#numbers.formatInteger(endTime.hour, 2)}:${#numbers.formatInteger(endTime.minute, 2)}|">
                                    Duration
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div align="center" class="screen" style="width:24.584995rem;">
                <svg fill="dodgerblue" viewBox="0 0 806 21" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.2,20l-2,0.2l-0.3-4l2-0.2C136.2,5.3,269.6,0,403,0s266.8,5.3,400.2,16l2,0.2l-0.3,4l-2-0.2 C669.5,9.3,536.3,4,403,4S136.4,9.3,3.2,20z"></path>
                </svg>
                <div class="name">ЕКРАН</div>
            </div>
        </div>
    </div>
</div>

<br><br>


<div class="container">
    <div class="row">
        <div class="col-6">
            <table>
                <tbody>
                <tr th:each="row, rowStatus : ${#numbers.sequence(1, 6)}">
                    <td th:each="seat : ${#numbers.sequence(1, 6)}">
                        <th:block
                                th:with="isTaken = ${T(ua.com.andromeda.cinemaspringbootapp.service.TicketService).isPlaceTaken(tickets, row, seat)}">
                            <div th:if="${rowStatus.last}">
                                <th:block th:if="${isTaken}">
                                    <button class="btn-seat disabled"
                                            data-status="taken" data-type="LUX">
                                        <img alt="seat" class="seat" src="/seats/taken-seat.png">
                                    </button>
                                </th:block>
                                <th:block th:unless="${isTaken}">
                                    <button class="btn-seat"
                                            data-status="active"
                                            data-type="LUX" th:onclick="|selectSeat(this, ${row}, ${seat}, 200)|">
                                        <img alt="seat" class="seat" src="/seats/active-lux-seat.png">
                                    </button>
                                </th:block>
                            </div>
                            <div th:unless="${rowStatus.last}">
                                <th:block th:if="${isTaken}">
                                    <button class="btn-seat disabled" data-status="taken" data-type="GOOD">
                                        <img alt="seat" class="seat" src="/seats/taken-seat.png">
                                    </button>
                                </th:block>
                                <th:block th:unless="${isTaken}">
                                    <button class="btn-seat"
                                            data-status="active"
                                            data-type="GOOD" th:onclick="|selectSeat(this, ${row}, ${seat}, 100)|">
                                        <img alt="seat" class="seat" src="/seats/active-good-seat.png">
                                    </button>
                                </th:block>
                            </div>
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div>
    <div class="container">
        <form id="ticketsZone" th:action="@{/tickets/new}" th:method="POST">
            <input name="sessionId" th:value="${movie.id}" type="hidden">
            <div class="col-auto">
                <input class="btn btn-primary" id="purchaseButton" type="submit" value="Purchase">
            </div>
        </form>
    </div>
</div>

<div th:insert="fragments :: script-dependency"></div>
</body>
</html>