<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hall</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
    <style>
        .border {
            border: dodgerblue solid 2px;
        }

        .seat {
            width: 50px;
        }

        @media screen and (max-width: 991px) {
            #uptotop {
                bottom: 40px
            }
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row  justify-content-end">
        <div class="col-1">
            <a th:href="@{/home}">
                <img src="/logo.png" alt="Andromeda cinema" width="100px"/>
            </a>
        </div>
        <div class="col-2"></div>
        <div class="col-3">
            <a class="btn btn-primary" th:href="@{/users/new}">Sign up</a>
        </div>
        <div class="col-3">
            <a class="btn btn-primary" th:href="@{/login}">Log in</a>
        </div>
        <div class="col-3">
            <a class="btn btn-primary" th:href="@{/logout}">Log out</a>
        </div>
    </div>
</div>
<hr>
<div class="container">
    <div class="row">
        <div class="col-2">
            <img th:src="${'/posters/' + movieDetails.media.poster}"
                 class="rounded"
                 th:alt="${movie.name}"
                 width="70%">

        </div>
        <div class="col-7">

            <div class="container" th:with="startTime=${movie.startTime}">
                <div class="row border">
                    <h4 th:text="${movie.name}">Name</h4>
                </div>
                <div class="row border">
                    <div class="col-4">
                        <i class="fa-regular fa-calendar"></i>
                        <span th:text="${startTime.dayOfMonth + ' ' +
                                    startTime.month.name + ', ' +
                                    startTime.dayOfWeek.name}">Day</span>
                    </div>
                    <div class="col-3">
                        <div th:with="duration=${movieDetails.duration}">
                            <div th:with="endTime=${startTime.plusMinutes(duration)}">
                                <i class="fa-sharp fa-solid fa-clock"></i>
                                <span th:text="${startTime.hour + ':' + startTime.minute
                                    + '-' +
                                     endTime.hour + ':' + endTime.minute}">Duration</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="screen" align="center" style="width:24.584995rem;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 806 21" fill="dodgerblue">
                    <path d="M3.2,20l-2,0.2l-0.3-4l2-0.2C136.2,5.3,269.6,0,403,0s266.8,5.3,400.2,16l2,0.2l-0.3,4l-2-0.2 C669.5,9.3,536.3,4,403,4S136.4,9.3,3.2,20z"></path>
                </svg>
                <div class="name">ЕКРАН</div>

                <br>

                <table>
                    <tr >
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                    <tr>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                    <tr>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                    <tr>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                    <tr>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                        <td>
                            <a href="#">
                                <img class="seat" src="/rectangle.png"/>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/951f32a133.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous">
</script>
</body>
</html>