<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head-section">
    <title id="pageTitle">Schedule</title>
</head>
<body>
<div th:insert="fragments :: header"></div>

<div th:replace="fragments :: pagination (endpoint='/movies')"></div>

<table class="table table-striped table-hover">
    <tr th:each="movie : ${page.content}" th:object="${movie}">
        <td class="column-centered">
            <a th:href="@{/movie-details/{id}(id = *{movieDetails.id})}">
                <div class="container-img">
                    <img alt="poster" class="img-fluid rounded-start img-fixed-size-200"
                         src="" th:src="*{movieDetails.media.poster}">
                </div>
            </a>
        </td>
        <td class="column-centered">
            <a th:href="@{/movie-details/{id}(id = *{movieDetails.id})}">
                <h4 th:text="*{name}"></h4>
            </a>
        </td>
        <th:block
                th:with="startTimeFormatted=${#calendars.format(T(java.sql.Timestamp).valueOf(movie.startTime), 'dd MMMM hh:mm')}">
            <td class="column-centered">
                <a class="btn btn-primary" th:href="@{/movies/hall/{id}(id = *{id})}">
                    <span th:text="${startTimeFormatted}"></span>
                </a>
            </td>
            <td class="column-centered" sec:authorize="hasAnyRole('ROLE_OWNER', 'ROLE_SUPER_ADMIN', 'ROLE_ADMIN')">
                <a class="btn btn-dark" th:href="@{/movies/update/{id}(id = *{id})}">Update</a>
            </td>
            <td class="column-centered" sec:authorize="hasAnyRole('ROLE_OWNER', 'ROLE_SUPER_ADMIN', 'ROLE_ADMIN')">
                <button class="btn btn-danger"
                        type="button"
                        data-bs-target="#confirm"
                        data-bs-toggle="modal"
                        th:data-action="|@{/movies/{id}(id = *{id})}|"
                        th:data-session-name="*{name}"
                        th:data-session-time="${startTimeFormatted}"
                        th:onclick="|callModalView(this.getAttribute('data-action'), this.getAttribute('data-session-name') ,
                                            this.getAttribute('data-session-time'))|">
                    Delete
                </button>
            </td>
        </th:block>

    </tr>
</table>

<div th:insert="fragments :: modal-window"></div>

<div th:insert="fragments :: script-dependency"></div>
</body>
</html>