<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head-section">
    <title id="pageTitle">Update session</title>
</head>
<body>
<div th:insert="fragments :: header"></div>

<form th:action="@{/movies/update}" th:method="PATCH" th:object="${movie}">
    <input th:field="*{id}" th:value="*{id}" type="hidden">
    <input th:field="*{movieDetails}" th:value="*{movieDetails}" type="hidden">
    <input th:field="*{tickets}" th:value="*{tickets}" type="hidden">

    <div class="container">
        <div class="row">
            <div class="col-auto">
                <label class="form-label" for="movieName">Name</label>
                <input class="form-control" id="movieName" required th:field="*{name}">
            </div>
        </div>
        <div class="row">
            <div class="col-auto">
                <label class="form-label" for="time">Date</label>
                <input class="form-control" id="time" required th:field="*{startTime}" type="datetime-local">
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <input class="btn btn-success btn-lg" type="submit" value="Update">
            </div>
        </div>
    </div>

</form>

<div th:insert="fragments :: script-dependency"></div>
</body>
</html>