<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-section">
    <meta charset="UTF-8">
    <title th:include=":: #pageTitle">Layout Generic Title</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" th:href="@{/logo.ico}">
</head>

<body>

<div th:fragment="header">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-3 self-aligned-left">
                    <a th:href="@{/home}">
                        <img alt="Andromeda cinema" src="/logo.png" width="50px"/>
                    </a>
                </div>
            </div>
            <div class="col-5 self-aligned-right">
                <div aria-label="Default button group" class="btn-group" role="group">
                    <a class="btn btn-outline-dark color-white"
                       sec:authorize="hasAnyRole('ROLE_OWNER', 'ROLE_SUPER_ADMIN', 'ROLE_ADMIN')"
                       th:href="@{/movies/new}">Add session</a>
                    <a class="btn btn-outline-dark color-white"
                       sec:authorize="hasAnyRole('ROLE_OWNER', 'ROLE_SUPER_ADMIN', 'ROLE_ADMIN')"
                       th:href="@{/movies/unique}">Movies list</a>
                    <div sec:authorize="isAuthenticated()">
                        <div sec:authorize="hasAnyRole('ROLE_OWNER', 'ROLE_SUPER_ADMIN', 'ROLE_ADMIN')">
                            <a class="btn btn-outline-dark color-white" th:href="@{/users?page=0&size=10}">users</a>
                        </div>
                    </div>
                    <a class="btn btn-outline-dark color-white" th:href="@{/users/new}">Sign up</a>
                    <a class="btn btn-outline-dark color-white"
                       sec:authorize="!isAuthenticated()"
                       th:href="@{/login}">Log in</a>
                    <div sec:authorize="isAuthenticated()">
                        <a class="btn btn-outline-dark color-white" th:href="@{/logout}">Log out</a>
                        <a th:href="@{/users/{id}(id = ${#session.getAttribute('id')})}">
                            <i class="fa-regular fa-user"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="alert-error">
    <div th:if="${#fields.hasErrors('global')}">
        <div class="alert alert-danger" role="alert">
            <p th:each="err : ${#fields.errors('global')}" th:text="${err}"/>
        </div>
    </div>
</div>

<nav th:fragment="pagination(endpoint)">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
             <span th:if="${page.hasPrevious()}">
                <a class="page-link" th:href="@{${endpoint}(page=${page.number - 1},size=${page.size})}">Previous</a>
             </span>
        </li>
        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
            <li class="page-item">
                <span class="page-link active" th:if="${page.number == i}">
                    <a class="page-link" th:href="@{${endpoint}(page=${i},size=${page.size})}"
                       th:text="${i + 1}">Page number</a>
                </span>
                <span th:unless="${page.number == i}">
                    <a class="page-link" th:href="@{${endpoint}(page=${i},size=${page.size})}"
                       th:text="${i + 1}">Page number</a>
                </span>
            </li>
        </th:block>
        <li class="page-item">
            <span th:if="${page.hasNext()}">
                <a class="page-link" th:href="@{${endpoint}(page=${page.number+1},size=${page.size})}">Next</a>
            </span>
        </li>
    </ul>
</nav>

<div th:fragment="script-dependency">
    <script th:src="@{/js/scripts.js}"></script>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/951f32a133.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</div>
</body>
</html>