<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head-section">
    <meta charset="UTF-8">
    <title th:include=":: #pageTitle">Layout Generic Title</title>
    <link crossorigin="anonymous"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/description.css}">
    <link rel="icon" th:href="@{/logo.ico}">
</head>

<body>
<div class="navbar navbar-dark bg-dark" th:fragment="header">
    <nav class="inner">
        <div aria-label="Toolbar with button groups" class="btn-toolbar" role="toolbar">
            <div aria-label="First group" class="logo" role="group">
                <a th:href="@{/home}">
                    <img alt="Andromeda cinema" class="w-25" src="/logo.png"/>
                </a>
                <a class="btn btn-outline-dark button" th:href="@{/movies}">
                    Schedule for the current week
                </a>
            </div>
            <div aria-label="Second group"
                 class="features" role="group"
                 sec:authorize="hasAnyRole('ROLE_OWNER', 'ROLE_SUPER_ADMIN', 'ROLE_ADMIN')">

                <a class="btn btn-outline-dark button" th:href="@{/movies/new}">Add session</a>
                <a class="btn btn-outline-dark button" th:href="@{/movies/unique}">Movies list</a>
                <a class="btn btn-outline-dark button" th:href="@{/users?page=0&size=10}">users</a>
            </div>
            <div aria-label="Third group" class="personal" role="group">
                <a class="btn btn-outline-dark button" th:href="@{/users/new}">Sign up</a>

                <a class="btn btn-outline-dark button"
                   sec:authorize="!isAuthenticated()"
                   th:href="@{/login}">Log in</a>

                <div sec:authorize="isAuthenticated()">
                    <a class="btn btn-outline-dark button" th:href="@{/logout}">Log out</a>
                    <a th:href="@{/users/{login}(login = ${#authentication.name})}">
                        <i class="fa-solid fa-user"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="alert-error">
    <div th:if="${#fields.hasErrors('global')}">
        <div class="alert alert-danger" role="alert">
            <p th:each="err : ${#fields.errors('global')}" th:text="${err}"/>
        </div>
    </div>
</div>


<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="confirm" tabindex="-1"
     th:fragment="modal-window">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm action</h1>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <h4 id="confirmationText">Are you sure you want to delete?</h4>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                <form action="/action" name="confirm-delete" th:method="DELETE">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
            </div>
        </div>
    </div>
</div>

<nav th:fragment="pagination(endpoint)">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
             <span th:if="${page.hasPrevious()}">
                <a class="page-link" th:href="@{${endpoint}(page=${page.number - 1},size=${page.size})}">Previous</a>
             </span>

            </span>
        </li>
        <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
            <li class="page-item">
                <span class="page-link active" th:if="${page.number == i}">
                    <a class="page-link" th:href="@{${endpoint}(page=${i},size=${page.size})}"
                       th:text="${i + 1}">Page number</a>
                </span>
                <span th:unless="${page.number == i}">
                    <a class="page-link" th:href="@{${endpoint}(page=${i},size=${page.size})}"
                       th:text="${i + 1}">Page number</a>
                </span>
            </li>
        </th:block>
        <li class="page-item">
            <span th:if="${page.hasNext()}">
                <a class="page-link" th:href="@{${endpoint}(page=${page.number+1},size=${page.size})}">Next</a>
            </span>
        </li>
    </ul>
</nav>


<div th:fragment="script-dependency">
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/951f32a133.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <script th:src="@{/js/scripts.js}"></script>
    <script th:src="@{/js/users-list.js}"></script>
    <script th:src="@{/js/modal-window.js}"></script>
</div>
</body>
</html>