<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Andromeda cinema</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

</head>
<body>

<div th:insert="menu :: header"></div>
<div class="container">
    <div class="row">
        <a class="btn bth-primary" th:href="@{/movies}">
            <h1>Schedule for the week</h1>
        </a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4" th:each="movie : ${movies}">
            <div th:object="${movie}">
                <a th:href="@{/movie-details/{id}(id = *{movieDetails.id})}">
                    <img th:src="'posters/' + *{movieDetails.media.poster}"
                         class="rounded float-start img-responsive"
                         style="min-height: 400px;
                                max-height: 400px;
                                min-width: 400px;
                                max-width: 400px;"/>
                </a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous">
</script>
<script src="https://kit.fontawesome.com/951f32a133.js" crossorigin="anonymous"></script>

</body>
</html>