<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head-section">
    <title id="pageTitle">Andromeda cinema</title>
</head>
<body>

<div th:insert="fragments :: header"></div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel" id="carouselExampleFade">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img alt="logo" class="d-block w-100 img-centered-fixed-size" src="/logo.png">
                    </div>
                    <div th:each="movie : ${movies}">
                        <div th:object="${movie}">
                            <div class="carousel-item">
                                <a th:href="@{/movie-details/{id}(id = *{movieDetails.id})}">
                                    <img alt="poster"
                                         class="rounded float-start img-responsive img-centered-fixed-size" src=""
                                         th:src="*{movieDetails.media.poster}"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" data-bs-slide="prev" data-bs-target="#carouselExampleFade"
                        type="button">
                    <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" data-bs-slide="next" data-bs-target="#carouselExampleFade"
                        type="button">
                    <span aria-hidden="true" class="carousel-control-next-icon"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </div>
    </div>
</div>

<div th:insert="fragments :: script-dependency"></div>
</body>
</html>