<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Andromeda cinema</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="../static/imgonline-com-ua-Resize-Z62uj4NKGx.png">
    <style>
        .btn-outline-dark a {
            color: white !important;
        }
    </style>
</head>

<body>

<div th:fragment="header">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-3 self-aligned-left">
                    <a th:href="@{/home}">
                        <img src="/logo.png" alt="Andromeda cinema" width="50px"/>
                    </a>
                </div>
            </div>
            <div class="col-5 self-aligned-right">
                <div class="btn-group" role="group" aria-label="Default button group">
                    <div sec:authorize="isAuthenticated()">
                        <div sec:authorize="hasAnyRole('ROLE_OWNER', 'ROLE_SUPER_ADMIN', 'ROLE_ADMIN')">
                            <a th:href="@{/users}" class="btn btn-outline-dark" style="color: white">users</a>
                        </div>
                    </div>
                    <a class="btn btn-outline-dark" th:href="@{/users/new}" style="color: white">Sign up</a>
                    <div sec:authorize="!isAuthenticated()">
                        <a class="btn btn-outline-dark" th:href="@{/login}" style="color: white">Log in</a>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <a class="btn btn-outline-dark" th:href="@{/logout}" style="color: white">Log out</a>
                        <a th:href="@{/users/{id}(id = ${#session.getAttribute('id')})}">
                            <i class="fa-thin fa-user"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<div th:fragment="script-dependency">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous">
    </script>
    <script src="https://kit.fontawesome.com/951f32a133.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</div>
</body>
</html>